{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printfWidth": 80,
  "useTabs": false,
  "indentStyle": "space",
  "indentSize": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true
}
