.Featured-players {
  // grid-column: 7/-1;
  grid-column: span 12;
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  .headline-card {
    padding: 1rem;
    display: grid;
    align-items: center;
    .h5 {
      margin-bottom: 0;
    }
  }

  .player-card {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    color: $dark-surface-100;

    .club {
      font-size: 0.75rem;
      font-weight: 300;
      letter-spacing: 0.015em;
    }

    &:nth-child(n + 1) {
      background: $yellow;
    }
  }
  .player-card {
    &:nth-child(2n + 1) {
      background: $green;
    }
  }
  .player-card {
    &:nth-child(3n + 1) {
      background: $purple;
    }
  }
  .player-card {
    &:nth-child(4n + 1) {
      background: $blue;
    }
  }
}
