.Standings {
  // grid-column: 1/-1;
  grid-column: span 12;

  .team-standings-row,
  .table-row-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &:hover {
      background: lighten($dark-surface-300, 5%);
    }

    .cell-item {
      &[data-name='Club'] {
        grid-column: 2/5;
      }
    }
  }

  .table-row-header {
    .cell-item {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.8rem;
    }
  }
}
