.Slider {
  border-radius: 10px;
  overflow: hidden;
  grid-column: 1/-1;

  swiper-container {
    --swiper-theme-color: white;
  }

  swiper-slide {
    width: 100% !important;

    &.salah {
      background-color: #911712;
      background-image: linear-gradient(
        45deg,
        hsl(2deg 78% 32%) 0%,
        hsl(12deg 34% 28%) 57%,
        hsl(185deg 90% 15%) 100%
      );
    }

    &.haaland {
      background-color: #6caddf;
      background-image: linear-gradient(
        45deg,
        hsl(206deg 64% 65%) 0%,
        hsl(210deg 82% 38%) 57%,
        hsl(214deg 100% 11%) 100%
      );
    }

    &.messi {
      background-color: #d5557e;
      background-image: linear-gradient(
        45deg,
        hsl(0deg 0% 13%) 0%,
        hsl(341deg 40% 43%) 38%,
        hsl(340deg 66% 67%) 74%,
        hsl(338deg 76% 84%) 100%
      );
    }

    .wrapper {
      min-height: 300px;
      height: 100%;
      display: grid;
      grid-template-rows: auto 1fr;
      padding: 1rem;
      grid-template-columns: 1fr;

      @include breakpoint('mobile') {
        grid-template-columns: 0.33fr 1fr;
        grid-template-rows: auto;
      }

      @include breakpoint('desktop') {
        grid-template-columns: 0.33fr 0.67fr;
      }

      .content {
        align-self: flex-start;

        @include breakpoint('mobile') {
          align-self: flex-end;
          margin: 0 0 1rem 2rem;
        }
      }

      .headline {
        font: 900 2rem/1 $body-font;
        letter-spacing: -0.025em;
        text-transform: uppercase;
        margin-bottom: 0.5em;

        @include breakpoint('mobile') {
          font-size: 2.5rem;
        }
      }

      .image-container {
        position: relative;
        height: 100%;

        .player-img {
          align-self: flex-end;
          position: absolute;
          bottom: -1rem;
          right: -1rem;
          height: 100%;
          object-fit: cover;
          object-position: left top;
          margin-left: auto;

          @include breakpoint('tablet') {
            margin-right: 20%;
            right: 0;
          }
        }
      }
    }
  }
}
