@mixin btn-base {
  padding: 0.5rem 1.25rem;
  border: 1px solid currentColor;
  background: transparent;
  font: 700 0.75rem/1 $body-font;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.btn-primary {
  @include btn-base;
  background: linear-gradient(to right, $green, $blue);
  background-blend-mode: overlay;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-color: transparent;
  position: relative;
  border-image: linear-gradient(to right, $green, $blue) 1 1 1;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2);
  }
}

.btn-secondary {
  @include btn-base;
  border-radius: 999px;
  border-color: $purple;
  color: $purple;
}

.btn-default {
  @include btn-base;
  transition: all 0.2s;

  &:hover {
    color: $dark-surface-100;
    background: white;
    border-color: white;
  }
}
