/*
  MEDIA QUERIES
  576px: mobile
  768: tablet
  1200+: desktop
*/
@mixin breakpoint($breakpoint) {
  // mobile
  @if $breakpoint == mobile {
    @media (min-width: 576px) {
      @content;
    }
  }
  // tablet
  @if $breakpoint == tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  // desktop
  @if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin container-padding {
  padding-left: $gutter-sm;
  padding-right: $gutter-sm;

  @include breakpoint('desktop') {
    padding-left: $gutter-lg;
    padding-right: $gutter-lg;
  }
}

@mixin container {
  width: 100%;
  max-width: $wrap;
  margin-left: auto;
  margin-right: auto;
  @include container-padding;
}

@mixin container-fluid {
  padding-left: $gutter-lg;
  @include container-padding;
}

@mixin custom-select {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 150px;
  /* padding-right: 10px; */
  /* padding: 0.35rem 1rem; */
  box-sizing: border-box;
  cursor: pointer;
  pointer-events: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 9999px;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-10px, -50%);
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-chevron-down' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='%23fff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M6 9l6 6l6 -6'%3E%3C/path%3E%3C/svg%3E")
      center/contain no-repeat;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0.5rem 2rem 0.5rem 1rem;
    padding: 0.25rem 2rem 0.25rem 1.25rem;
    margin: 0;
    width: 100%;
    cursor: inherit;
    /* outline: none; */
    pointer-events: all;
    font: inherit;
    color: inherit;
    border-radius: inherit;
  }
}
