.Top-players {
  grid-column: span 12;
  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  // gap: 1rem;

  .headline {
    grid-column: span 12;
  }

  .swiper {
    margin-bottom: 2rem;

    .swiper-slide {
      width: 235px;
    }
  }

  .Stat-box {
    grid-column: span 12;

    @include breakpoint('mobile') {
      grid-column: span 6;
    }

    @include breakpoint('tablet') {
      grid-column: span 4;
    }

    summary {
      cursor: pointer;
      user-select: none;
    }

    .card {
      border: 1px solid rgba(white, 0.2);
      border-radius: 10px;
      // padding: 1rem;
      overflow: hidden;

      .Top-player {
        display: grid;
        grid-template-columns: 0.7fr 0.3fr;
        gap: 1rem;
        padding: 0.875rem;
        justify-content: space-between;
        min-height: 6.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .row {
          display: flex;
          flex-direction: column;

          .name {
            line-height: 1.2;
            letter-spacing: -0.01em;

            p {
              &:first-child {
                font-size: 0.875rem;
                font-weight: 600;
              }

              &:last-child,
              &:only-child {
                font-weight: 700;
                font-size: 1.5rem;
                margin-bottom: 0.1rem;
                // letter-spacing: -0.01em;
              }
            }
          }

          .team {
            margin-top: auto;
            font-size: 0.875rem;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.7);
          }
        }

        .stat {
          font-weight: 700;
          font-size: 1.5rem;
          align-self: center;
        }
      }

      .player-list {
        padding: 0.875rem;

        .Player-item {
          display: grid;
          grid-template-columns: 0.7fr 0.3fr;
          gap: 1rem;
          justify-content: space-between;

          &:not(:last-child) {
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          }

          &:nth-child(4) {
            border-bottom: 0;
            padding-bottom: 0;

            @include breakpoint('mobile') {
              padding-bottom: 0.5rem;
              border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }
          }

          &:nth-child(n + 5) {
            display: none;

            @include breakpoint('mobile') {
              display: grid;
            }
          }

          .row {
            display: flex;
            flex-direction: column;

            .name {
              font-weight: 700;
            }

            .team {
              font-size: 0.75rem;
              font-weight: 300;
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }
      }
    }
  }
}