.Sidebar {
  background: $dark-surface-100;

  .list-label {
    margin-bottom: 1rem;
  }

  .tournament-list {
    list-style-type: none;
    margin-left: 1rem;

    .tournament-item {
      &:not(:last-child) {
        .btn {
          margin-bottom: 1rem;
        }
      }
      .btn {
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        padding: 0.25rem 0;
        padding-left: 0.5rem;
        position: relative;
      }
    }
  }
}
