body {
  background: $dark-surface-300;
  color: white;
  font-family: $body-font;
}

a:-webkit-any-link {
  color: $blue;
}

.container {
  @include container;
}

.container-fluid {
  @include container-fluid;
}
