$inter: 'Inter', sans-serif;

$heading-font: $inter;
$body-font: $inter;

$black: #333;
$dark-surface-100: #1e1e24;
$dark-surface-300: #121217;
$dark-surface-400: #0b0b0f;
$blue: #3491fd;
$green: #03c39a;
$yellow: #f8fc99;
$purple: #c89aff;

$wrap: 1580px;
$gutter-lg: 4rem;
$gutter-sm: 1.5rem;
